.font{
    font-family: Arial
}
.giua{
    text-align: center
}
h1{
    font-size: 50px
}
.trang{
    background: white
}
.xam{
    background: rgb(167, 166, 166)
}
center{
    font-size: 35px;
    padding-top: 3%
}